@font-face {
  font-family: 'Yu-Gi-Oh';
  src: url(fonts/YuGiOhName.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Yu-Gi-Oh-D';
  src: url(fonts/YuGiOhDescriptions.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Yu-Gi-Oh-U';
  src: url(fonts/YuGiOhUtilities.ttf);
  font-style: normal;
  font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-color: #F1F0EE;
}
.general-container{
  width: 100vw;
  height: 100vh;
}
.score-container{
  width: 100vw;
  height: 10vh;
  display: flex;
}
.current-score,.best-score{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
}
.cardsGrid{
  width: 90vw;
  height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2%;
  margin: 0px auto;
  
}

.conteiner-card{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.freepik.com/premium-photo/beach-texture-background_23-2147836087.jpg?w=740);
  background-size: cover;
  border: .5rem ridge #4C5964 ;
  border-radius: 2px;
}
.name-card{
  width: 87.67%;
  height: 7%;
  display: flex;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
  font-size: 125%;
  border: 1px #b39148 outset;
  align-items: center;
  font-family: 'Yu-Gi-Oh', cursive;
}
.image-card{
  width: 75%;
  height: 60%;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  z-index: -1;
  border: 1px black outset;
}
.description-div{
  width: 85%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  margin-top: 2%;
  padding: 1px 1px 0px 1px;
  background-image: url(https://img.freepik.com/free-photo/watercolor-beige-texture_125540-1591.jpg?w=740&t=st=1663874979~exp=1663875579~hmac=75c0bd39fc20869e0b6878082d5c718dfbf5bd0d14104bbaa3b2cf99280a6e84);
  background-size: cover;
  background-repeat:repeat;
  filter: opacity(.9);
  border: 1px outset;
}
.description-card{
  width: 100%;
  height: 80%;
  font-family: 'Yu-Gi-Oh-D';
  font-size: 33%;
}
.utilities-card{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  font-family: 'Yu-Gi-Oh-U';
  font-size: 35%;
  border-top: 1px solid black;
}
